= form_tag(posts_path, :method => "get", id: "search-form") do
  #search
    = text_field_tag :search, params[:search], placeholder: "search here"
    / %p= submit_tag "Search", :name => nil

#posts
  - @posts.each do |post|
    .post
      %h2.title= link_to post.title,post
      %p.date
        published at
        = time_ago_in_words(post.created_at)
        by
        = post.user.email